table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  color: #000;
  margin-bottom: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

table caption {
  border: 2px solid #7ea8f8;
  background-color: #7ea8f8;
}

table td {
  position: relative;
  background-image: linear-gradient(to right, #eee, #eee);
  background-color: transparent;
  transition: 0.4s ease-out;
  padding: 5px;
  border: 2px solid #7ea8f8;
  cursor: pointer;
}
